@model pim04.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HospedeId" class="control-label"></label>
                <select asp-for="HospedeId" class ="form-control" asp-items="ViewBag.HospedeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrada" class="control-label"></label>
                <input asp-for="DataEntrada" class="form-control" />
                <span asp-validation-for="DataEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSaida" class="control-label"></label>
                <input asp-for="DataSaida" class="form-control" />
                <span asp-validation-for="DataSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuartoId" class="control-label"></label>
                <select asp-for="QuartoId" class ="form-control" asp-items="ViewBag.QuartoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumeroQuarto" class="control-label"></label>
                <input asp-for="NumeroQuarto" class="form-control" />
                <span asp-validation-for="NumeroQuarto" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

